# Copy this file to .env and fill in values locally.
# Do not commit or share .env in chat.

REDSHIFT_HOST=production-redshift-cluster.cwiqzcm13zcn.ap-southeast-1.redshift.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DATABASE=dev
REDSHIFT_USER=
REDSHIFT_PASSWORD=
REDSHIFT_SSL=true

SSH_TUNNEL_HOST=13.215.212.244
SSH_TUNNEL_PORT=22
SSH_TUNNEL_USER=ubuntu
SSH_PRIVATE_KEY_PATH=./secrets/oceanhunter-prod-bastion-ec2.pem

